// # font
$font-size-default: 16;

$fontFamily: 'Manrope';

// # colors
$color-accent: #FF6B6B;

$color-white: #FFFFFF;
$color-black: #000000;

// #gradients

// # paths
$fonts-path: '/fonts';
$images-path: '/images';

//# timing
$time-faster: 100ms;
$time-fast: 200ms;
$time-normal: 300ms;
$time-slow: 400ms;
$time-slower: 500ms;
